html {
    scroll-behavior: smooth;
}
/*Smooth Scroll*/
/* Nav Bar Start */
.right {
   float: left;
}

.char-list {
    display: inline;
    background-color: #202126;
    padding: 10px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 99;
}

.char-list a{
    transition: .25s;
    color: white;
    padding: 18px 10px;
}

.char-list a:hover{
    text-decoration: none;
    color: #202126;
    padding: 15px 10px;
}

.char-list li{
    transition: .25s;
    color: white;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 1px 10px;
}

.char-list li:hover {
    color: #202126;
    background-color: #ddd;
    padding: 15px 10px;
}
/* Nav Bar End*/
/* Jumbotron Start*/
.jumbotron {
    display: table;
    height: 600px;
    width: 100%;
    text-align: center;
    background-image: url(imgs/BG.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.jumbotron.rias {
    background-image: url(imgs/RiasBlink.gif)
}

.jumbotron.two {
    height: 600px;
    background-image: url(imgs/AkenoLick.gif)
} 

.jumbotron.three {
    height: 600px;
    background-image: url(imgs/AsiaTongue.gif);
}

.jumbotron.four {
    height: 600px;
    background-image: url(imgs/Koneko/KonekoFlick.gif);
    
}

.jumbotron.five {
    height: 600px;
    background-image: url(imgs/Xenovia/XenoviaGif.gif);
    background-attachment: local;
}

.jumbotron.six {
    height: 600px;
    background-image: url(imgs/Irina/IrinaGif.gif);
    background-attachment: local;
}

.jumbo-txt {
    -webkit-text-stroke: 2px black;
    color: white!important;
    display: table-cell;
    vertical-align: middle;
    font-size: 150px!important;
    font-family: 'Montserrat', sans-serif;
}
/* Jumbotron End*/
/* Info Start */
h1 {
    text-align: center;
    font-family: 'Miss Fajardose', serif;
    font-size: 75px;
}

.head {
    font-size: 50px;
    font-family: 'Roboto Condensed',sans-serif;
}

.char {
    font-family: 'Montserrat',sans-serif;
    font-size: 50px;
    margin: 15px 20px;
}

.imgLG {
    display: block;
    margin: 0 auto;
}

hr {
    border-color: dimgray;
    width: 75%;
}

.placeholder {
    border-color: white;
}

.hr2 {
    width: 50%;
    border-color: firebrick;
}

.hr3 {
    width: 50%;
    border-color: blueviolet;
}

.hr4 {
    width: 50%;
    border-color: #e5e364;
}

.hr5 {
    width: 50%;
    border-color: #d1d1d1;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0 75px;
    padding: 20px 50px;
    transition: .3s;
}

p:hover {
    transition: .3s;
    color: white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}
/* Info End */
/* Iamge Gallery Start */
h2 {
    text-align: center;
}

.img-gal {
    text-align: center;
}

.img-gal img {
    padding: 10px;
    transition: .2s;
}

.img-gal img:hover {
    transform: scale(1.25);
}

.nsfw {
    -webkit-filter: blur(8px);
}

.nsfw:hover {
    -webkit-filter: blur(0px);
}
/* Iamge Gallery End */

